body{
  margin: 0;
  height: 100vh;
  background-image: url(images/79e5527c65cd71f1a3bc544754b320bb\ copy\ 2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}