.box{
  position: relative;   /* makes this the reference */
  height: 400px;
}

.pic{
 positon: center;
 height: auto;
 max-width: 100%;
 margin: 0 auto;
 display: block;
 margin-left: auto;
 margin-right: auto;
   
}
.title, .para{
  text-align: center;

}
body{
  margin: 0 auto;
  width: 100%;
  background-color: #1b0c17;  /* page background */
  color: #c5bfbf;               /* text color */
  font-family:'Courier New', Courier, monospace
}
.ready-btn{
  position: fixed;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  z-index: 9999;

  padding: 12px 22px;
  background: #332626;
  color: rgb(184, 162, 162);
  text-decoration:none;
  border-radius: 10px;
  font-weight: 1000;
  transition: 1s;
}
.ready-btn:hover{
  background: #312323;
}
